version: "3.8"

services:
  backend:
    build: ./cognify-backend
    container_name: cognify-backend
    ports:
      - "5000:5000"
    env_file:
      - ./cognify-backend/.env
    restart: always

  frontend:
    build:
      context: ./cognify-frontend
      args:
        VITE_API_URL: http://localhost:5000 # Docker internal call
    container_name: cognify-frontend
    expose:
      - "80"
    depends_on:
      - backend
    restart: always

  nginx:
    build:
      context: ./nginx
    container_name: cognify-nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    restart: always
